.tooltip > .tooltip-inner {
    background-color: #fff; 
    color: #000; 
    border: 1px solid #CCCCCC; 
}

html, body {
  height: 100%;
}
h1{
	padding: 0 10px;
}
h2{
	padding: 0 10px;
}
#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}
#content{
	padding: 10px 35px;
}
header{
	margin-bottom: 40px;
	padding-top: 40px;
	background: url(../img/top.png) center top no-repeat;
}
aside{
	padding-top: 10px;
}
footer {
  height: 60px;
  background: url(../img/bottom.png) center bottom no-repeat;
}
.ctrl-btn-group{
	margin: 15px 0;
	padding: 15px 0;
	border-top: 1px solid #428BCA;
	border-bottom: 5px solid #428BCA;
	background-color: #efefef;
	color: #428BCA;
}
.settings li{
	margin-bottom: 10px;

}
.settings dt{
	padding-top: 6px;

}
.services th, .services td{
	text-align: center;
}
.ips th{
	padding-top: 15px !important;
	text-align: center;
}
.services label{
	cursor: pointer;
}
.txt-left{
	text-align: left !important;
}
.txt-center{
	text-align: center !important;
}
.vertical-middle {
	vertical-align: middle !important;
}
.display-none {
	display: none;
}
.delimiter{
	width: 100%;
	height: 1px;
	margin: 10px 0;
	background-color: #428BCA;
}
.container
{
    display:table;
}
tr.selected {
    background-color: #A7DFF0
}

input[type="radio"]{
	margin: 0 auto;
}
@media (max-width: 480px){
	#content{
		padding: 10px 20px;
	}
	.services td, .services th{
		padding: 5px 3px !important;
	}
}
.list-horizontal li{
	display: inline-block;
	float: left;
}

.panel .dl-horizontal dt {
    white-space: normal;
}

.dl-horizontal:before,
.dl-horizontal:after {
  display: table;
  content: "";
  line-height: 0;
}
.dl-horizontal:after {
  clear: both;
}
